# Ignore all
*

# --- Except ---
# Skill to help create a git issue
!create-issue/
!create-issue/SKILL.md

# Skill to review or create a obsidian notes
!obsidian-note/
!obsidian-note/SKILL.md

# Skill to generate commit message
!commit-message/
!commit-message/SKILL.md
